{% extends 'base.html' %}

{% block title %}Головна - Резюме{% endblock %}

{% block content %}
<div class="row align-items-center">
    <div class="col-md-4 text-center">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Аватар" class="profile-img img-fluid rounded-circle">
    </div>
    <div class="col-md-8">
        <h1>Студент Розробник</h1>
        <p class="lead">Лабораторна робота №2 — Багатосторінковий веб-сайт на Flask.</p>
        <hr>
        <h3>Про мене</h3>
        <p>Навчаюся програмній інженерії, вивчаю Python, Flask, HTML/CSS та веб-розробку.</p>
    </div>
</div>
{% endblock %}